CONTEXT_ROUTER_DATABASE_URL=postgresql+psycopg://conchi:conchi123456@127.0.0.1:5432/context_router
CONTEXT_ROUTER_DOCUMENTS_CONTAINER_ROOT=../document-sources
CONTEXT_ROUTER_SCRIPTS_SNAPSHOT_ROOT=../script-sources
